*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.header{
    position: fixed;
    width: 100;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    background-color: pink;
}
.logo{
    max-width: 50px;
    height:auto;
}
.navmenu{
    display: flex;
    justify-content: right;
}
.navmenu a{
    color: black;
    font-size: 16px;
    text-transform: capitalize;
    padding: 20px 10%;
    font-weight: 400;
    transition: all;
}
.navicon{

}